.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  padding: 0 20vw;
  // border: 1px solid rgb(138, 137, 137);
  font-size: 12pt;
  border-left: none;
  border-right: none;

  h2 {
    text-align: center;
  }

  .sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding: 0 50px;
    border-bottom: 1px solid rgb(138, 137, 137);

    div {
      padding: 2% 0;
      font-weight: bold;
    }

    input {
      width: 80%;
      height: 10%;
      padding: 2% 0;
      border: none;
      border-left: 1px solid rgb(138, 137, 137);
      text-align: center;
      background-color: rgb(138, 137, 137, 0.25);
    }
  }
}

.button-holder {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  button {
    width: 25%;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: maroon;
    font-size: 14pt;
    color: white;
    font-weight: bold;
  }
}
