<div class="main-container">

<!-- <div class="nav-bar" *ngFor="let nav of arrSwitch">
  <button (click)="switchNav(nav)">{{nav}}</button>
</div> -->




<div class="main-display">
  
  <form class="form-container" #fundForm="ngForm" (ngSubmit)="registerFund(fundForm)">
    <h4>Add Funds:</h4>
    <input type="text" id="name" name="name" ngModel placeholder="Name"><br>
    <input type="text" id="ticker" name="ticker" ngModel placeholder="Ticker"><br>
    <input type="text" id="assetClass" name="assetClass" ngModel placeholder="Asset Class"><br>
    <input type="text" id="expenseRatio" name="expenseRatio" ngModel placeholder="Expense Ratio"><br>
    <input type="text" id="price" name="price" ngModel placeholder="Price"><br>
    <input type="text" id="priceChange" name="priceChange" ngModel placeholder="Price Change"><br>
    <input type="text" id="ytd" name="ytd" ngModel placeholder="YTD"><br>
    <input type="text" id="oneyr" name="oneyr" ngModel placeholder="One Year"><br>
    <input type="text" id="fiveyr" name="fiveyr" ngModel placeholder="Five Year"><br>
    <input type="text" id="tenyr" name="tenyr" ngModel placeholder="Ten Year"><br>
    <input type="text" id="sinceInception" name="sinceInception" ngModel placeholder="Since Inception"><br>
    <div class="button-wrapper">
      <button type="submit">Register</button>
    </div>
  </form>
  <div>
    <button (click)="switchNav('Overview')">Overview</button><button (click)="switchNav('Performance')">Performance</button><button (click)="switchNav('Price')">Price</button>
  <table *ngIf="overview">
    <tr>
      <th>Ticker | Fund name</th>
      <th>Asset class</th>
      <th>Expense ratio</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor="let fund of funds">
      <td><a [routerLink]="['/fund/'+fund.id+'/edit']">{{fund.ticker}}<br />{{fund.name}}</a></td>
      <td>{{fund.assetClass}}</td>
      <td>{{fund.expenseRatio}}</td>
      <td>
        <div (click)="toDelete(fund.id)">
          <img alt="trash" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4r68Sv4kY8f3-1d2nkElFVQ8uhi4QPnRjcriPlPqpUpqZfpGzRthctK1G2EpZ_rmp6AU&usqp=CAU" 
          />
        </div></td>
    </tr>
  </table>

  <table *ngIf="performance">
    <tr>
      <th>Ticker | Fund name</th>
      <th>YTD</th>
      <th>1-yr</th>
      <th>5-yr</th>
      <th>10-yr</th>
      <th>Since inception</th>
    </tr>
    <tr *ngFor="let fund of funds">
      <td><a [routerLink]="['/fund/',fund.id]">{{fund.ticker}}<br />{{fund.name}}</a></td>
      <td>{{fund.ytd}}</td>
      <td>{{fund.oneyr}}</td>
      <td>{{fund.fiveyr}}</td>
      <td>{{fund.tenyr}}</td>
      <td>{{fund.sinceInception}}</td>
    </tr>
  </table>

  <table *ngIf="price">
    <tr>
      <th>Ticker | Fund name</th>
      <th>Price</th>
      <th>Change Price</th>
    </tr>
    <tr *ngFor="let fund of funds">
      <td><a [routerLink]="['/fund/',fund.id]">{{fund.ticker}}<br />{{fund.name}}</a></td>
      <td>{{fund.price}}</td>
      <td>{{fund.priceChange}}</td>
    </tr>
  </table>
</div>
</div>

</div>