.main-container {
  width: 50%;
}

.main-display {
  // border: 2px solid red;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  all: unset;
  cursor: pointer;
  color: black;
  opacity: 0.5;
  font-size: 14pt;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

h4 {
  font-size: 14pt;
  padding-left: 10px;
}

.form-container {
  width: 30vw;

  input {
    width: 80%;
    padding: 20px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(138, 137, 137);
  }

  .button-wrapper {
    padding-top: 25px;
  }
  button {
    padding: 10px 30px;
    color: white;
    font-weight: bolder;
    background-color: maroon;
    opacity: 1;
    border-radius: 20px;
  }
}

button:focus {
  font-weight: bold;
  opacity: 1;
  outline: rgba(0, 0, 255, 0.7) 2px solid;
  text-decoration: underline;
  border-bottom: rgb(175, 20, 20) solid 5px;
}

table {
  width: 68vw;
  th {
    text-align: left;
    width: 6vw;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(218, 218, 218, 0.25);
    border-top: 1px solid rgb(0, 0, 0, 0.25);
    font-weight: normal;
  }
  tr {
    text-align: left;
    width: 6vw;
    border-bottom: 1px solid rgb(138, 137, 137);
  }
  td {
    padding: 20px 20px;
    border-bottom: 1px solid rgb(138, 137, 137, 0.15);
  }
  a {
    text-decoration: none;
    color: black;
  }
}

img {
  width: 15%;
}
